.gallery__main-slider {
    overflow: hidden;
    margin-bottom: 10px;
}

.gallery__main-wrapper {
    display: flex;
    aspect-ratio: 1/1;
    transition: transform 1.5s ease-in-out;
}

.gallery-title {
    color: var(--clr-navyBlueDark);
    margin-bottom: var(--size-4xl);
}

.gallery__image-item {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}

.gallery__items-slide {
    overflow: scroll;
    display: flex;
    aspect-ratio: 2/1;
    gap: 10px;
    scrollbar-width: none;
    /* Untuk Firefox */
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}

.gallery__items-slide .gallery__image-item {
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
}

.gallery__items-slide::-webkit-scrollbar {
    display: none;
}

/* xs */
/* @media (min-width : 475px) {} */

/* sm */
@media (min-width : 640px) {

    .gallery__main-wrapper {
        aspect-ratio: 2/1;
    }

    .gallery-title {
        color: var(--clr-navyBlueDark);
        margin-bottom: var(--size-4xl);
    }

    .gallery__image-item {
        aspect-ratio: 2/1;
    }

    .gallery__items-slide {
        overflow: scroll;
        display: flex;
        aspect-ratio: 2/1;
        gap: 10px;
        scrollbar-width: none;
        /* Untuk Firefox */
        -ms-overflow-style: none;
        -webkit-overflow-scrolling: touch;
    }

    .gallery__items-slide .gallery__image-item {
        aspect-ratio: 4/3;
        object-fit: cover;
        object-position: center;
    }
}

/* md */
/* @media (min-width : 768px) {} */

/* lg */
/* @media (min-width : 1024px) {} */

/* xl */
/* @media (min-width : 1280px) {} */