.about {
    background-color: var(--clr-silver);
}

.about__couple {
    display: flex;
    flex-direction: column;
    gap: var(--size-base);
}

.couple {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    background: linear-gradient(to right, var(--clr-calmBlue) 20%, var(--clr-navyBlue)55%);
    color: var(--clr-softGray);
    box-shadow: -1px 1px 2px 2px rgba(0, 0, 0, .5);
}

.ampersand {
    font-size: var(--size-6xl);
    margin: auto;
    color: var(--clr-navyBlue);
    font-family: "Dancing Script", cursive;
}

.couple__img {
    mask-image: url('/decorations/asset (2).svg');
    mask-size: cover;
    mask-position: center;
    object-fit: cover;
    object-position: top;
}

.couple__description,
.couple__name,
.couple__parents {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.couple__description {
    padding: var(--size-base) var(--size-xs);
    text-transform: capitalize;
    font-family: "Quicksand", sans-serif;
    font-size: var(--size-xs);
}

.couple__name {
    font-size: var(--size-4xl);
    line-height: .5;
    font-family: "Great Vibes", cursive;
}

.couple__fm,
.couple__father,
.couple__mother {
    line-height: .8;
}

.insta {
    margin-top: var(--size-base);
    text-decoration: none;
    color: var(--clr-softDark);
    transition: all .3s ease-in;
    background-color: rgba(255, 255, 255, .5);
    padding: 1px 5px;
    border-radius: 5px;
    font-size: var(--size-xs);
}

.insta i {
    color: transparent;
    background: linear-gradient(#f9ce34, #ee2a7b, #6228d7);
    background-clip: text;
}

/* xs */
@media (min-width : 475px) {

    .couple__description {
        padding: var(--size-lg) var(--size-4xl);
        padding-left: 0;
        font-size: var(--size-sm);
    }

    .couple__name {
        margin-top: var(--size-xxs);
        font-size: var(--size-5xl);
    }

    .couple__fm,
    .couple__father,
    .couple__mother {
        line-height: .9;
    }

    .insta {
        font-size: var(--size-sm);
    }

}

/* sm */
@media (min-width : 640px) {
    .about__couple {
        gap: var(--size-xl);
    }

    .ampersand {
        font-size: var(--size-8xl);
    }

    .couple__description {
        font-size: var(--size-lg);
    }

    .couple__name {
        margin-top: var(--size-sm);
        font-size: var(--size-7xl);
    }

    .insta {
        font-size: var(--size-lg);
    }

}

/* md */
@media (min-width : 768px) {

    .about__couple {
        flex-direction: row;
        gap: var(--size-2xl);
    }

    .ampersand {
        font-size: var(--size-6xl);
    }

    .couple__description {
        padding: var(--size-lg) var(--size-2xl);
        font-size: var(--size-xs);
    }

    .couple__name {
        margin-top: var(--size-sm);
        font-size: var(--size-4xl);
    }

    .insta {
        font-size: var(--size-xs);
    }
}

/* lg */
@media (min-width : 1024px) {
    .about__couple {
        gap: var(--size-5xl);
    }

    .ampersand {
        font-size: var(--size-8xl);
    }

    .couple__description {
        font-size: var(--size-lg);
    }

    .couple__name {
        margin-top: var(--size-sm);
        font-size: var(--size-6xl);
    }

    .insta {
        font-size: var(--size-lg);
    }
}