.ending {
    height: 70vh;
    background-image: url('/images/9PT.jpg');
    display: flex;
    flex-direction: column;
    background-size: cover;
    justify-content: end;
    background-position: center;
    mask-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 1) 5% 95%);
}

.ending__wrapper {
    color: var(--clr-softGray);
    background-color: transparent;
    backdrop-filter: blur(1px);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, .5);
    text-align: center;
}

.ending__bride {
    font-size: var(--size-4xl);
    font-family: "Great vibes";
    margin: 0;
    text-transform: capitalize;
}


/* xs */
@media (min-width : 475px) {
    .ending__bride {
        font-size: var(--size-5xl);
    }
}

/* sm */
@media (min-width : 640px) {

    .ending__bride {
        font-size: var(--size-5xl);
    }

    .ending__closer {
        font-size: var(--size-xl);
    }

}

/* md */
@media (min-width : 768px) {

    .ending__bride {
        font-size: var(--size-6xl);
    }

    .ending__closer {
        font-size: var(--size-2xl);
    }
}

/* lg */
/* @media (min-width : 1024px) {} */

/* xl */
/* @media (min-width : 1280px) {} */