.story {
    background-color: var(--clr-softLight);
    color: var(--clr-navyBlue);
    position: relative;
}

.story__wrapper {
    display: grid;
    gap: 1rem;
}

.story__line {
    position: absolute;
    top: calc(var(--size-10xl) + var(--size-10xl));
    width: 3px;
    background-color: var(--clr-navyBlue);
    left: 0;
    transform: translateX(var(--size-6xl));
}

.story__title {
    margin-bottom: var(--size-6xl);
    background-color: var(--clr-softLight);
}

.story__item {
    width: 100%;
    padding-left: var(--size-base);
}

.love {
    position: absolute;
    font-size: var(--size-3xl);
    background-color: var(--clr-calmBlue);
    width: var(--size-5xl);
    height: var(--size-5xl);
    display: flex;
    border-radius: 50%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.love.changeColor {
    animation: changeColor linear forwards;
    animation-timeline: view(70% 0%);
}

@keyframes changeColor {

    0%,
    70% {
        color: var(--clr-navyBlue);
        background-color: var(--clr-softGray);
    }

    75%,
    100% {
        color: pink;
        background-color: crimson;
    }
}

.love .bi-heart-fill {
    margin: auto;
}

.story__item.left,
.story__item.right {
    padding-left: var(--size-8xl);
}

/* xs */
/* @media (min-width : 475px) {} */

/* sm */
/* @media (min-width : 640px) {} */

/* md */
/* @media (min-width : 768px) {} */

/* lg */
@media (min-width : 1024px) {
    .love {
        font-size: var(--size-4xl);
        width: var(--size-7xl);
        height: var(--size-7xl);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }

    .story__line {
        left: 50%;
        transform: translateX(-50%);
        top: var(--size-10xl);
    }

    .love .bi-heart-fill {
        margin: auto;
    }

    .story__item.left {
        padding-right: 55%;
    }

    .story__item.right {
        padding-left: 60%;
    }
}

/* xl */
/* @media (min-width : 1280px) {} */