/* Audio */
.audio-icon {
    position: fixed;
    bottom: var(--size-xl);
    right: var(--size-xl);
    width: var(--size-3xl);
    height: var(--size-3xl);
    z-index: 9;
    font-size: var(--size-2xl);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    background-color: var(--clr-dark);
}