/* Grow Blur Animation */
.growBlur {
    animation: growBlur 1s forwards ease-in .5s;
}

.grow {
    animation: growBlur 1s forwards ease-in;
}

@keyframes growBlur {
    from {
        transform: scale(0);
        opacity: 0;
        filter: blur(10px);
    }

    to {
        transform: scale(1);
        opacity: 1;
        filter: blur(0);
    }
}

/* Appear Scroll Animation */
.autoAppearScroll {
    animation: autoAppearScroll both;
    animation-timeline: view(70% 10%);
}

@keyframes autoAppearScroll {
    0% {
        transform: scale(.5);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Left Scroll Animation */
.autoLeftScroll {
    animation: autoLeftScroll both;
    animation-timeline: view(70% 5%);
}

@keyframes autoLeftScroll {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.autoDownScroll.normal,
.autoLeftScroll.normal {
    animation-timeline: view(75% 5%);
}

.autoDownScroll.fast,
.autoLeftScroll.fast {
    animation-timeline: view(80% 5%);
}

.autoDownScroll.verfast,
.autoLeftScroll.veryfast {
    animation-timeline: view(85% 5%);
}

.autoDownScroll.superfast,
.autoLeftScroll.superfast {
    animation-timeline: view(90% 5%);
}


.autoLeftScroll.slow,
.autoDownScroll.slow {
    animation-timeline: view(65% 5%);
}

.autoLeftScroll.veryslow,
.autoDownScroll.autoDownScroll.verslow {
    animation-timeline: view(60% 5%);
}


/* Right Scroll Animation */
.autoRightScroll {
    animation: autoRightScroll both;
    animation-timeline: view(70% 5%);
}

@keyframes autoRightScroll {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Down Scroll Animation */
.autoDownScroll {
    animation: autoDownScroll both;
    animation-timeline: view(70% 5%);
}

@keyframes autoDownScroll {
    from {
        opacity: 0;
        transform: translateY(100%) scale(.5);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.scrollAnimation {
    animation: scrollAnimation both;
    animation-timeline: view(auto 50%);
}

@keyframes scrollAnimation {
    from {
        height: 0%;
    }

    to {
        height: 70%;
    }
}

/* Rotating */
.autoRotate {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(1turn);
    }
}

/* Animation for Image */
.hidden {
    opacity: 0;
    transform: translateX(-100%);
}

.hidden.show {
    animation: showIn forwards 1s ease-in 1s;
}



svg path.show {
    animation: textAnimation 2.5s .5s ease-in-out forwards;
}


@keyframes textAnimation {
    0% {
        stroke-dashoffset: 400;
    }

    90% {
        fill: transparent;
    }

    100% {
        fill: var(--clr-dark);
        stroke-dashoffset: 0;
    }
}

.hidden.show:nth-child(1) {
    animation-delay: .2s;
}

.hidden.show:nth-child(2) {
    animation-delay: .6s;
}

.hidden.show:nth-child(3) {
    animation-delay: 1s;
}

@keyframes showIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes growShrink {
    from {
        width: var(--size-3xl);
        height: var(--size-3xl);
    }

    to {
        width: calc(var(--size-5xl) - 5px);
        height: calc(var(--size-5xl) - 5px);
    }
}


@keyframes hide {
    to {
        transform: translateY(-100%);
        display: none;
    }
}