@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
/* "Playfair Display SC", system-ui; */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* "Playfair Display", system-ui; */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* "Poppins", system-ui; */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* "Lora", system-ui; */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
/* "Dancing Script", cursive; */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&display=swap');
/* "Great Vibes", cursive; */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Roboto+Slab:wght@100..900&display=swap');
/* font-family: "Roboto Slab", serif; */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Quicksand:wght@300..700&family=Roboto+Slab:wght@100..900&display=swap');
/* "Quicksand", sans-serif; */

.btnw {
  padding: 3px 10px;
  border-radius: 5px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: var(--size-xl);
  transition: all .3s ease-in;
  font-family: "Dancing Script";
}

.button-main {
  background-color: var(--clr-navyBlue);
  color: var(--clr-softGray);
  transition: all .3s ease-in-out;
  border: 1.5px solid var(--clr-silver);
}

.button-main:hover {
  color: var(--clr-navyBlue);
  border: 1.5px solid var(--clr-navyBlue);
  background-color: var(--clr-softGray);
}

.section {
  padding: var(--size-7xl) var(--size-4xl);
}

.no-scroll {
  overflow: hidden;
}

.second-title {
  font-family: 'Great Vibes', cursive;
  font-weight: bold;
  font-size: var(--size-4xl);
}

.third-title {
  font-family: 'Roboto Slab', cursive;
  font-weight: bolder;
  font-size: var(--size-3xl);
}

.fourth-title {
  font-family: 'Dancing Script', cursive;
  font-size: var(--size-xl);
}

.paragraph {
  font-size: var(--size-base);
  font-family: "Quicksand", cursive;
}

.paragraph-lighter {
  font-size: var(--size-base);
  font-weight: lighter;
}

/* xs */
/* @media (min-width : 475px) {} */

/* sm */
@media (min-width : 640px) {

  .second-title {
    font-size: var(--size-5xl);
  }

  .third-title {
    font-size: var(--size-4xl);
  }

  .fourth-title {
    font-size: var(--size-2xl);
  }

}

/* md */
@media (min-width : 768px) {
  .second-title {
    font-size: var(--size-6xl);
  }

  .third-title {
    font-size: var(--size-5xl);
  }

  .fourth-title {
    font-size: var(--size-3xl);
  }

  .paragraph {
    font-size: var(--size-lg);
  }

  .paragraph-lighter {
    font-size: var(--size-lg);
    font-weight: lighter;
  }
}

/* lg */
@media (min-width : 1024px) {
  .second-title {
    font-size: var(--size-7xl);
  }

  .third-title {
    font-size: var(--size-6xl);
  }

  .fourth-title {
    font-size: var(--size-3xl);
  }
}

/* xl */
@media (min-width : 1280px) {
  .second-title {
    font-size: var(--size-9xl);
  }

  .third-title {
    font-size: var(--size-7xl);
  }

  .fourth-title {
    font-size: var(--size-4xl);
  }
}