:root {
  --clr-dark: #070a13;
  --clr-light: #f1f5f9;
  --clr-calmBlue: #A0D2EB;
  --clr-softLight: #F4F4F4;
  --clr-softGray: #D3D3D3;
  --clr-silver: #BFC1C2;
  --clr-navyBlue: #3A506B;
  --clr-navyBlueDark: #334459;
  --clr-softDark: #323232;
  --clr-verySoftDark: #5d5d5d;
  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

* {
  margin: 0;
  line-height: calc(1em + .5rem);
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--clr-light);
  line-height: 1.25;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

a {
  font-family: "Shadows Into Light", cursive;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--clr-dark);
  border-radius: 5px;
}