.proposition {
    background-color: var(--clr-navyBlue);
    display: flex;
    flex-direction: column;
    gap: var(--size-2xl);
}

.border {
    padding: var(--size-2xl) var(--size-xl);
    color: var(--clr-softGray);
    border-radius: 10px;
    margin-bottom: var(--size-3xl);
}

.pictures {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, minmax(80px, 1fr));
}

.pictures__item {
    border: 1px solid var(--clr-silver);
    aspect-ratio: 1/1;
}

.item__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: top;
    border-radius: 10px;
}


/* xs */
/* @media (min-width : 475px) {} */

/* sm */
/* @media (min-width : 640px) {} */

/* md */
@media (min-width : 768px) {
    .proposition {
        gap: var(--size-2xl);
    }

    .border {
        padding: var(--size-3xl) var(--size-2xl);
    }

    .pictures {
        gap: var(--size-base);
    }

    .pictures__item {
        aspect-ratio: 4/3;
    }

}

/* lg */
@media (min-width : 1024px) {

    .border {
        padding: var(--size-4xl) var(--size-2xl);
    }

    .pictures__item {
        aspect-ratio: 5/3;
    }

    .item__img {
        object-position: center;
    }
}

/* xl */
/* @media (min-width : 1280px) {} */