.detail {
    background-image: url('/images/6PT.jpg');
    background-size: cover;
    background-position: center;
}

.detail__wedding {
    border-radius: 10px;
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, .3);
    text-transform: capitalize;
    background-color: rgba(255, 255, 255, .5);
}

.detail__wedding-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-lg);
    padding: var(--size-sm) 0;
    overflow: hidden;
}

.detail__wedding-info a {
    text-decoration: none;
}

.detail__wedding-item {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail__wedding-date,
.detail__wedding-event {
    color: var(--clr-navyBlueDark);
    font-family: "Dancing Script", cursive;
    font-weight: bold;
}

.detail__wedding-date {
    padding: var(--size-xxs);
    display: flex;
    text-align: center;
    justify-content: center;
    border-bottom: 1px solid var(--clr-navyBlue);
    width: 100%;
}

.detail__wedding-description {
    color: var(--clr-navyBlue);
    max-width: 250px;
    text-align: center;
}

.detail__icon {
    width: var(--size-6xl);
    height: var(--size-6xl);
    background-size: cover;
    background-position: center;
}

/* sm */
@media (min-width : 640px) {
    .detail {
        padding: var(--size-4xl) var(--size-8xl);
    }

    .detail__wedding-info {
        padding: var(--size-lg) 0;
    }

    .detail__wedding-date {
        padding: var(--size-xxs);
    }

    .detail__wedding-description {
        max-width: 300px;
    }

    .detail__icon {
        width: var(--size-6xl);
        height: var(--size-6xl);
    }
}

/* lg */
@media (min-width : 1024px) {
    .detail {
        padding: var(--size-4xl) var(--size-10xl);
    }

    .detail__wedding-date {
        padding: var(--size-xxs);
    }

    .detail__wedding-description {
        max-width: 600px;
    }

    .detail__icon {
        width: var(--size-7xl);
        height: var(--size-7xl);
    }
}