.comment__title.second-title {
    font-family: 'Playfair Display', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--clr-navyBlue);
}

.comment__container {
    margin: var(--size-2xl) 0;
    background-color: var(--clr-softLight);
    padding: var(--size-4xl) var(--size-sm);
    color: var(--clr-navyBlue);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: var(--size-2xl);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .3);
}

.comment__item {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: var(--size-xl);
}

.comment__account {
    padding: var(--size-base);
    width: var(--size-4xl);
    height: var(--size-4xl);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-navyBlue);
    color: var(--clr-silver);
    font-size: var(--size-xl);
    border-radius: 50%;
    font-weight: 500;
}

.comment__bubble {
    position: relative;
    box-shadow: 1px 1px 20px 5px rgba(191, 193, 194, 1);
    padding: var(--size-xxs) var(--size-sm);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comment__bubble::before {
    content: '';
    left: calc(var(--size-xs) * -1);
    position: absolute;
    border-top: var(--size-sm) solid transparent;
    border-right: var(--size-base) solid var(--clr-softLight);
    border-bottom: 14px solid transparent;
}

.account__name {
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: var(--size-xxs);
}

.account__place,
.account__comment {
    font-size: var(--size-xs);
}

/* xs */
@media (min-width : 475px) {

    .account__name {
        margin-bottom: var(--size-xs);
    }

    .account__place,
    .account__comment {
        font-size: var(--size-sm);
    }
}

/* sm */
/* @media (min-width : 640px) {} */

/* md */
@media (min-width : 768px) {
    .comment__container {
        padding: var(--size-7xl);
        gap: var(--size-3xl);
    }
}

/* lg */
@media (min-width : 1024px) {
    .comment__container {
        padding: var(--size-7xl) var(--size-10xl);
    }
}

/* xl */
/* @media (min-width : 1280px) {} */