.hero {
    height: 100vh;
    position: relative;
}

.hero__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: end;
    gap: 5px;
    color: var(--clr-softLight);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, .5);
    padding: var(--size-xl) 0;
}

.hero__bg-img {
    filter: grayscale(.2);
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.hero__sub-title {
    font-size: var(--size-2xl);
    font-family: "Playfair Display", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
}

.hero__title {
    font-family: "Playfair Display SC", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--size-6xl);
    margin-bottom: var(--size-2xl);
}

.hero__male,
.hero__ampersan,
.hero__female {
    display: block;
    width: fit-content;
    margin: auto;
    line-height: .8;
}

.hero__date {
    font-size: var(--size-base);
}

/* xs */
/* @media (min-width : 475px) {} */

/* sm */
/* @media (min-width : 640px) {} */

/* md */
/* @media (min-width : 768px) {} */

/* lg */
@media (min-width : 1024px) {

    .hero__male,
    .hero__ampersan,
    .hero__female {
        display: inline-block;
        width: fit-content;
        margin: 0 5px;
    }

    .hero__sub-title {
        font-size: var(--size-4xl);
    }

    .hero__title {
        font-size: var(--size-7xl);
    }

    .hero__date {
        font-size: var(--size-lg);
    }
}

/* xl */
/* @media (min-width : 1280px) {} */

/* 2xl */
/* @media (min-width : 1536px) {} */