.countDown {
    margin: var(--size-7xl) 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-image: url('/images/1LS1200.jpg');
    background-size: cover;
    background-position: center;
    padding: var(--size-10xl) 0 var(--size-xl) 0;
}

.countDown__title.second-title {
    text-shadow: 1px 1px 2px rgba(55, 55, 55, .5);
    font-family: 'Dancing Script';
}

.countDown__item-wrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(50px, 1fr));
    gap: var(--size-xl);
}

.countDown__item {
    background-color: var(--clr-navyBlue);
    padding: var(--size-4xl);
    width: var(--size-4xl);
    height: var(--size-4xl);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countDown__time {
    font-weight: normal;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, .3);
    font-family: 'Quicksand', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.countDown__time-name {
    font-family: 'Great Vibes', cursive;
}

/* md */
@media (min-width : 768px) {
    .countDown__item-wrapper {
        gap: var(--size-2xl);
    }

    .countDown__item {
        padding: var(--size-2xl);
        width: var(--size-8xl);
        height: var(--size-8xl);
    }

}

/* lg */
@media (min-width : 1024px) {
    .countDown__item-wrapper {
        gap: var(--size-4xl);
    }
}