.footer {
    color: var(--clr-softLight);
    text-align: center;
    background-color: var(--clr-navyBlue);
    font-size: var(--size-xs);
    padding: var(--size-lg) 0;
    font-family: "Quicksand", cursive;
    display: flex;
    flex-direction: column;
    gap: var(--size-lg);
}

.footer a {
    text-decoration: none;
    color: var(--clr-softLight);
    transition: all .3s ease-in;
}

.footer a:hover {
    color: var(--clr-softGray);
}

.creator {
    font-size: var(--size-base);
    margin: 0;
}

.footer__creator a {
    font-size: var(--size-3xl);
    font-family: "Dancing Script";
}

.footer .bi-instagram {
    font-size: var(--size-xl);
    margin: -5px 0 5px;
    display: inline-block;
}

.ig-account {
    display: flex;
    gap: 5px;
    font-size: var(--size-xl);
    width: fit-content;
    align-items: center;
    margin: auto;
}

.copyright-song {
    margin: 0;
    font-size: var(--size-sm);
}

.copyright-song a {
    font-family: "Robot Slab";
}